
/* font-face */
@font-face {
    font-family: "GeneralFoundicons";
    font-weight: normal;
    font-style: normal;
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.eot");
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.eot?#iefix") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.ttf") format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.svg#GeneralFoundicons") format("svg");
}


#g {
    display: block;
    height: 90%;
    width: 90%;
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
    margin: auto;
}


#g .timer {
    width: 0%;
    height: 10px;
    position: absolute;
    top: 0;
    background: #38c2fd;
    z-index: 1;
    border: 3px solid #0060be;
}

@-webkit-keyframes timer {
    100% {
        width: 100%;
    }
}

@-moz-keyframes timer {
    100% {
        width: 100%;
    }
}

@-o-keyframes timer {
    100% {
        width: 100%;
    }
}

@keyframes timer {
    100% {
        width: 100%;
    }
}

.pause {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background: rgba(51, 51, 51, 0.78)
}

.pause::before {
    content: 'PAUSED';
    width: 100%;
    position: absolute;
    margin-top: -100px;
    top: 50%;
    background: hotpink;
    border: 5px solid deeppink;
    color: #fff;
    font: bold 80px/200px 'Open Sans';
    display: block;
    text-align: center;
}

/* card styles */
#g .found {
    display: inline-block
}

.card {
    display: inline-block;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
}

.card:not(.active):hover {
    opacity: .8
}

.card .b::before {
    content: attr(data-f);
    display: block;
    font: normal 100px/100px "GeneralFoundicons";
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 100%;
    text-align: center
}


#g .card{
    background: #fa81aa;
}


#g .card .flipper {
    height: 100%;
    width: 100%;
}

#g .card .flipper .f {
    height: 100%;
    width: 100%;
}


#g .card.active .b{
    background: #fa81aa;
    height: 100%;
    width: 100%;
}



/*Responsive Stuff*/
@media all and (max-width: 1680px) and (min-width: 640px) {
    .card .b::before {
        font-size: 90px
    }

    #g.medium .card .b::before {
        font-size: 70px
    }

    #g.hard .card .b::before {
        font-size: 50px
    }
}

@media all and (max-width: 640px) and (min-width: 470px) {
    .card .b::before {
        font-size: 90px
    }

    #g.medium .card .b::before {
        font-size: 60px
    }

    #g.hard .card .b::before {
        font-size: 50px
    }
}

@media all and (max-width: 470px) and (min-width: 0px) {
    .card .b::before {
        font-size: 60px
    }

    #g.medium .card .b::before {
        font-size: 35px;
    }

    #g.hard .card .b::before {
        font-size: 32px;
    }
}

