
/* font-face */
@font-face {
    font-family: "GeneralFoundicons";
    font-weight: normal;
    font-style: normal;
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.eot");
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.eot?#iefix") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.ttf") format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.svg#GeneralFoundicons") format("svg");
}

#g {
    display: block;
    height: 90%;
    width: 90%;
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
    margin: auto;
}


#g .timer {
    width: 0%;
    height: 10px;
    position: absolute;
    top: 0;
    background: #38c2fd;
    z-index: 1;
    border: 3px solid #0060be;
}

@-webkit-keyframes timer {
    100% {
        width: 100%;
    }
}

@-moz-keyframes timer {
    100% {
        width: 100%;
    }
}

@-o-keyframes timer {
    100% {
        width: 100%;
    }
}

@keyframes timer {
    100% {
        width: 100%;
    }
}

/* card styles */
#g .found {
    display: inline-block
}

.card {
    display: inline-block;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
}

.card:not(.active):hover {
    opacity: .8
}

.card .b::before {
    content: attr(data-f);
    display: block;
    font: normal 100px/100px "GeneralFoundicons";
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 100%;
    text-align: center
}


#g .card{
    background: #fa81aa;
}


#g .card .flipper {
    height: 100%;
    width: 100%;
}

#g .card .flipper .f {
    height: 100%;
    width: 100%;
}


#g .card.active .b{
    background: #fa81aa;
    height: 100%;
    width: 100%;
}
