main>section:nth-child(5){
    position: relative;
    background-color:rgba(30, 30, 30, 1);
    height: 1210px;
}

main>section:nth-child(5)>h3:nth-child(1){
    font-family: 'Amarante', cursive;
    font-size: 45px;
    color: rgba(192, 64, 0, 1);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(5)>h5:nth-child(2){
    font-family: 'Arsenal', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #636363;
    position: absolute;
    left: 0;
    right: 0;
    top: 85px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(5)>section{
    height: 275px;
    width: 100%;
    position: absolute;
}

main>section:nth-child(5)>section>p{
    font-family: 'Arsenal', sans-serif;
    font-weight: bold;
    font-size: 23px;
    position: relative;
    margin-left:9%!important;
    margin: 0;
}

main>section:nth-child(5)>section>section{
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}

main>section:nth-child(5)>section>section>div{
    height: 200px;
    width: 200px;
    position: relative;
}

main>section:nth-child(5)>section>section>div>img{
    height: 100px;
    width: 110px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

main>section:nth-child(5)>section>section>div>p{
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    width: max-content;
}



/*-------------languages--------------------------------*/
main>section:nth-child(5)>section:nth-child(3){
    top: 170px;
}

/*-------------tools----------------------------*/
main>section:nth-child(5)>section:nth-child(4){
    top: 502px;
}

main>section:nth-child(5)>section:nth-child(4)>section:nth-child(2)>div:nth-child(5)>img{
    height: 60px;
    width: 120px;
}

/*-------------FrameWorks----------------------------*/
main>section:nth-child(5)>section:nth-child(5){
    top: 826px;
}

main>section:nth-child(5)>section:nth-child(5)>section:nth-child(2){
    justify-content: space-evenly;
}

/*===========responsive=======================*/

@media all and (max-width: 768px){
    main>section:nth-child(5)>section>section{
        width: 90%;
    }
}
