main>section:nth-child(2){
    position: relative;
    background-color: rgba(30, 30, 30, 1);
    height: 750px;
}

main>section:nth-child(2)>h3:nth-child(1){
    font-family: 'Amarante', cursive;
    font-size: 45px;
    color: rgba(192, 64, 0, 1);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 25px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(2)>h5:nth-child(2){
    font-family: 'Arsenal', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #636363;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(2)>article{
    height:600px;
    width: 92%;
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    margin: auto;
}

main>section:nth-child(2)>article>img:nth-child(1){
    height:495px;
    width: 360px;
    border: 1px solid white;
    position: absolute;
    top: 15px;
    left: 160px;
    display: inline-block;
}

main>section:nth-child(2)>article>aside>p{
    font-family: 'Arsenal', sans-serif;
    font-size: 21px;
    position: absolute;
    left: 584px;
}

main>section:nth-child(2)>article>aside>p:nth-child(1){
    font-size: 35px;
    font-weight: bolder;
    top: 20px;
}

main>section:nth-child(2)>article>aside>p:nth-child(2){
    top: 100px;
}

main>section:nth-child(2)>article>aside>p:nth-child(3){
    top: 180px;
}

main>section:nth-child(2)>article>aside>p:nth-child(3)>a{
    color: white;
}

main>section:nth-child(2)>article>aside>p:nth-child(3)>a:hover{
    color: rgba(192, 64, 0, 1);
}

main>section:nth-child(2)>article>aside>p:nth-child(4){
    top: 260px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li{
    font-family: 'Arsenal', sans-serif;
    font-size: 21px;
    list-style: none;
    padding-top: 15px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li>img{
    padding-right: 18px;
    height: 27px;
    width: 27px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(1){
    position: absolute;
    top: 365px;
    left: 583px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(2){
    position: absolute;
    top: 425px;
    left: 583px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(3){
    position: absolute;
    top: 485px;
    left: 583px;
}


main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(4){
    position: absolute;
    top: 365px;
    left: 1035px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li>a{
    color: white;
    text-decoration: none;
    transition: all 0.5s;

}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li>a:hover{
    color: rgba(192, 64, 0, 1);
    font-size: 22px;
    transition: all 0.5s;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(5){
    position: absolute;
    top: 425px;
    left: 1035px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(6){
    position: absolute;
    top: 485px;
    left: 1035px;
}

main>section:nth-child(2)>article>aside>button:nth-child(6){
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: black;
    border: 3px solid rgba(192, 64, 0, 1);
    border-radius: 8px;
    height: 36px;
    width: 130px;
    position: absolute;
    top: 560px;
    right: 70px;
    color: white;
    transition: all 0.5s;
}
main>section:nth-child(2)>article>aside>button:nth-child(6):hover{
    height: 40px;
    width: 134px;
    font-weight: bold;
    font-size: 110%;
    background-color: white;
    color:  rgba(192, 64, 0, 1);
    transition: all 0.5s;
}

/*===========transition=======================*/

@media all and (max-width: 1024px){

    main>section:nth-child(2)>article>img:nth-child(1){
        left: 120px;
    }

    main>section:nth-child(2)>article>aside>p{
        left: 530px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li{
        font-size: 20px;
        list-style: none;
        padding-top: 15px;
        width: 300px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(1){
        left: 510px;
        text-align: left;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(2){
        left: 495px;
        text-align: right;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(3){
        left: 510px;
        text-align: left;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(4){
        left: 840px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(5){
        left: 840px;
        width: 330px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(6){
        left: 840px;
    }

    main>section:nth-child(2)>article>aside>p>br{
        display: none;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li>img{
        padding-right: 14px;
        height: 26px;
        width: 26px;
    }

}




