main>section:nth-child(4){
    position: relative;
    background-color: rgba(30, 30, 30, 1);
    height: 1000px;
}

main>section:nth-child(4)>h3:nth-child(1){
    font-family: 'Amarante', cursive;
    font-size: 45px;
    color: rgba(192, 64, 0, 1);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(4)>h5:nth-child(2){
    font-family: 'Arsenal', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #636363;
    position: absolute;
    left: 0;
    right: 0;
    top: 85px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(4)>figure:nth-child(3)>img{
    height: 395px;
    width: 555px;
    position: absolute;
    right: 0;
    left: 0;
    top: 185px;
    margin: auto;
}

main>section:nth-child(4)>figure:nth-child(3)>figcaption{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    position: absolute;
    right: 0;
    left: 0;
    top: 600px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(4)>section:nth-child(4) {
    height: 230px;
    width: 90%;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 690px;
    display: flex;
    justify-content: space-between;
}

main>section:nth-child(4)>section:nth-child(4)>div {
    height: 230px;
    width: 225px;
    background-color: green;
    position: relative;
}

main>section:nth-child(4)>section:nth-child(4)>div>figure>img {
    height: 145px;
    width: 225px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 25px;
}

main>section:nth-child(4)>section:nth-child(4)>div>figure>figcaption {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    position: absolute;
    right: 0;
    left: 0;
    top: 182px;
    margin: auto;
    height: max-content;
    width: max-content;
}

/*===========responsive=======================*/

@media all and (max-width: 1024px){
    main>section:nth-child(4)>section:nth-child(4)>div:nth-child(5) {
       display: none;
    }

    main>section:nth-child(4)>section:nth-child(4) {
        width: 92%;
    }
}

@media all and (max-width: 768px){
    main>section:nth-child(4)>section:nth-child(4)>div:nth-child(4) {
        display: none;
    }

}

@media all and (max-width: 426px){

    main>section:nth-child(4) {
        height: 865px;
    }

    main>section:nth-child(4)>figure:nth-child(3)>figcaption {
        top: 450px;
    }

    main>section:nth-child(4)>figure:nth-child(3)>img {
        height: 245px;
        width: 365px;
    }

    main>section:nth-child(4)>section:nth-child(4)>div:nth-child(3) {
        display: none;
    }
    main>section:nth-child(4)>section:nth-child(4)>div:nth-child(2) {
        display: none;
    }

    main>section:nth-child(4)>section:nth-child(4) {
        top: 545px;
        width: max-content;
    }

    main>section:nth-child(4)>section:nth-child(4)>div {
        width: 255px;
    }
}

@media all and (max-width: 377px) {

    main>section:nth-child(4)>figure:nth-child(3)>img {
        height: 215px;
        width: 335px;
    }

    main>section:nth-child(4)>figure:nth-child(3)>figcaption {
        top: 420px;
    }

    main>section:nth-child(4) {
        height: 830px;
    }

    main>section:nth-child(4)>section:nth-child(4) {
        top: 515px;
    }
}

@media all and (max-width: 320px) {

    main>section:nth-child(4)>figure:nth-child(3)>img {
        height: 175px;
        width: 295px;
    }

    main>section:nth-child(4)>figure:nth-child(3)>figcaption {
        top: 380px;
    }

    main>section:nth-child(4) {
        height: 770px;
    }

    main>section:nth-child(4)>section:nth-child(4)>div {
        width: 230px;
    }

    main>section:nth-child(4)>section:nth-child(4) {
        top: 475px;
    }
}



