main>section:nth-child(9){
    position: relative;
    background-color: rgba(30, 30, 30, 1);
    height: 1100px;
}

main>section:nth-child(9)>h3:nth-child(1){
    font-family: 'Amarante', cursive;
    font-size: 45px;
    color: rgba(192, 64, 0, 1);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(9)>h5:nth-child(2){
    font-family: 'Arsenal', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #636363;
    position: absolute;
    left: 0;
    right: 0;
    top: 85px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(9)>p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    position: absolute;
    left: 175px;
}

main>section:nth-child(9)>p:nth-child(5){
    font-family: 'Arsenal', sans-serif;
    font-weight: bolder;
    font-size: 33px;
}

main>section:nth-child(9)>p:nth-child(3){
    top: 185px;
}

main>section:nth-child(9)>p:nth-child(4){
    top: 220px;
}

main>section:nth-child(9)>p:nth-child(5){
    top: 290px;
}

main>section:nth-child(9)>p:nth-child(6){
    top: 340px;
}

main>section:nth-child(9)>aside:nth-child(7){
    width: 500px;
    height: max-content;
    position: absolute;
    top: 445px;
    left: 230px;
}

main>section:nth-child(9)>aside:nth-child(7)>form>fieldset{
   border: none;
}

main>section:nth-child(9)>aside:nth-child(7)>form>fieldset>input{
    background-color: white;
    width: 455px;
    height: 70px;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(69, 69, 69);
    font-size: 21px;
    padding-left: 15px;
    border: 0px;
}

main>section:nth-child(9)>aside:nth-child(7)>form>fieldset>textarea{
    background-color: white;
    width: 440px;
    height: 170px;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(69, 69, 69);
    font-size: 21px;
    padding: 15px;
    border: 0px;
}

main>section:nth-child(9)>button:nth-child(8){
    height: 38px;
    width: 157px;
    background-color: black;
    border-radius: 5px;
    border: 2px solid rgba(192, 64, 0, 1);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: absolute;
    left: 755px;
    top: 890px;
}
main>section:nth-child(9)>button:nth-child(8):hover{
    height: 42px;
    width: 162px;
    font-weight: bold;
    font-size: 110%;
    background-color: white;
    color:  rgba(192, 64, 0, 1);
    transition: all 0.5s;
}

main>section:nth-child(9)>button:nth-child(9){
    height: 38px;
    width: 157px;
    background-color: black;
    border-radius: 5px;
    border: 2px solid rgba(192, 64, 0, 1);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: absolute;
    left: 755px;
    top: 940px;
    transition: all 0.5s;
}

main>section:nth-child(9)>button:nth-child(9):hover{
    height: 42px;
    width: 162px;
    font-weight: bold;
    font-size: 110%;
    background-color: white;
    color:  rgba(192, 64, 0, 1);
    transition: all 0.5s;
}

main>section:nth-child(9)>ol:nth-child(10)>li{
    list-style: none;
    position: absolute;
    right: 250px;
    font-family: 'Arsenal', sans-serif;
    font-size: 22px;
}


main>section:nth-child(9)>ol:nth-child(10)>li>p{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60px;
    margin: auto;
    height: max-content;
    width: max-content;
    transition: all 0.5s;
}

main>section:nth-child(9)>ol:nth-child(10)>li>p:hover{
    color: rgba(192, 64, 0, 1);
    font-size: 23px;
    transition: all 1s;
}

main>section:nth-child(9)>ol:nth-child(10)>li>p>a{
    color: white;
    text-decoration: none;
    transition: all 0.5s;

}

main>section:nth-child(9)>ol:nth-child(10)>li>p>a:hover{
    color: rgba(192, 64, 0, 1);
    font-size: 23px;
    transition: all 0.5s;
}

main>section:nth-child(9)>ol:nth-child(10)>li:nth-child(1){
    top: 460px;
}

main>section:nth-child(9)>ol:nth-child(10)>li:nth-child(2){
    top: 530px;
}

main>section:nth-child(9)>ol:nth-child(10)>li:nth-child(3){
    top: 590px;
}

main>section:nth-child(9)>ol:nth-child(10)>li:nth-child(4){
    top: 650px;
}

main>section:nth-child(9)>ol:nth-child(10)>li:nth-child(5){
    top: 710px;
}


main>section:nth-child(9)>ol:nth-child(10)>li>img{
    height: 50px;
    width: 50px;
}

/*===========responsive=======================*/

@media all and (max-width: 1024px){
    main>section:nth-child(9)>ol:nth-child(10)>li{
        right: 150px;
    }

    main>section:nth-child(9)>aside:nth-child(7){
        left: 150px;
    }

    main>section:nth-child(9)>p{
        left: 140px;
    }

    main>section:nth-child(9)>button:nth-child(8) {
        left: 690px;
    }

    main>section:nth-child(9)>button:nth-child(9){
        left: 690px;
    }

}

@media all and (max-width: 768px){
    main>section:nth-child(9)>p{
        left: 100px;
    }
    main>section:nth-child(9)>aside:nth-child(7)>form>fieldset>input{
        width: 425px;
        height: 65px;
    }

    main>section:nth-child(9)>aside:nth-child(7)>form>fieldset>textarea{
        width: 410px;
        height: 155px;
    }

    main>section:nth-child(9)>button:nth-child(8) {
        left: 650px;
        top: 860px;
    }

    main>section:nth-child(9)>button:nth-child(9){
        left: 650px;
        top: 912px;
    }

    main>section:nth-child(9)>ol:nth-child(10)>li{
        right: 80px;
    }

    main>section:nth-child(9){
        height: 1025px;
    }

}

@media all and (max-width: 426px) {

    main>section:nth-child(9)>p{
        font-size: 22px;

    }

    main > section:nth-child(9) > p:nth-child(4) {
        top: 220px;
        width: 835px;
    }

    main>section:nth-child(9)>aside:nth-child(7) {
        left: 85px;
    }

    main>section:nth-child(9)>button:nth-child(8) {
        left: 590px;
        font-size: 18px;
    }

    main>section:nth-child(9)>button:nth-child(9) {
        left: 590px;
        font-size: 18px;
    }

}









