main>section:nth-child(2){
    position: relative;
    height: 900px;
}

main>section:nth-child(2)>h3:nth-child(1){
    font-family: 'Amarante', cursive;
    font-size: 45px;
    color: rgba(192, 64, 0, 1);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 45px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(2)>h5:nth-child(2){
    font-family: 'Arsenal', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #636363;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(2)>article{
    height:600px;
    width: 92%;
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    margin: auto;
}

main>section:nth-child(2)>article>img:nth-child(1){
    height:495px;
    width: 360px;
    border: 1px solid white;
    position: absolute;
    top: 15px;
    left: 117px;
    display: inline-block;
}
main>section:nth-child(2)>article>aside{
    position: absolute;
    height: 560px;
    width: 775px;
    left: 535px;
    top: 15px;
}

main>section:nth-child(2)>article>aside>p{
    font-family: 'Arsenal', sans-serif;
    font-size: 21px;
    position: absolute;
    left: 0px;

}

main>section:nth-child(2)>article>aside>p:nth-child(1){
    font-size: 35px;
    font-weight: bolder;
    margin: 0;
    top: 10px;
}

main>section:nth-child(2)>article>aside>p:nth-child(2){
    top: 60px;
}

main>section:nth-child(2)>article>aside>p:nth-child(3){
    top: 140px;
}

main>section:nth-child(2)>article>aside>p:nth-child(3)>a{
    color: white;
}

main>section:nth-child(2)>article>aside>p:nth-child(3)>a:hover{
    color: rgba(192, 64, 0, 1);
}

main>section:nth-child(2)>article>aside>p:nth-child(4){
    top: 220px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li{
    font-family: 'Arsenal', sans-serif;
    font-size: 21px;
    list-style: none;
    padding-top: 15px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li>img{
    padding-right: 18px;
    height: 27px;
    width: 27px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(1){
    position: absolute;
    top: 325px;
    left: 0px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(2){
    position: absolute;
    top: 385px;
    left: 0px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(3){
    position: absolute;
    top: 445px;
    left: 0px;
}


main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(4){
    position: absolute;
    top: 325px;
    left: 440px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li>a{
    color: white;
    text-decoration: none;
    transition: all 0.5s;

}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li>a:hover{
    color: rgba(192, 64, 0, 1);
    font-size: 22px;
    transition: all 0.5s;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(5){
    position: absolute;
    top: 385px;
    left: 440px;
    width: 362px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(6){
    position: absolute;
    top: 445px;
    left: 440px;
}

main>section:nth-child(2)>article>aside>button:nth-child(6){
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: black;
    border: 3px solid rgba(192, 64, 0, 1);
    border-radius: 8px;
    height: 36px;
    width: 130px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
    transition: all 0.5s;
}
main>section:nth-child(2)>article>aside>button:nth-child(6):hover{
    height: 40px;
    width: 134px;
    font-weight: bold;
    font-size: 110%;
    background-color: white;
    color:  rgba(192, 64, 0, 1);
    transition: all 0.5s;
}

/*===========responsive=======================*/

@media all and (max-width: 1024px){
    main>section:nth-child(2)>article {
        height: 647px;
    }

    main>section:nth-child(2)>article>img:nth-child(1) {
        height: 475px;
        width: 340px;
        left: 45px;
    }

    main>section:nth-child(2)>article>aside {
        width: 503px;
        left: 415px;
        height: 623px;
    }


    main>section:nth-child(2)>article>aside>p {
        font-size: 20px;
        margin: auto;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li {
        font-size: 20px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(2) {
        top: 82px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(3) {
        top: 146px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(4) {
        top: 237px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(1) {
        top: 325px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(2) {
        top: 372px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(3) {
        top: 419px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(4) {
        top: 462px;
        left: 0px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(5) {
        top: 507px;
        left: 0px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(6) {
        top: 551px;
        left: 0px;
    }

}

@media all and (max-width: 768px){

    main>section:nth-child(2) {
        height: 927px;
    }

    main>section:nth-child(2)>article {
        width: 96%;
        height: 677px;
        top: 184px;
    }

    main>section:nth-child(2)>article>img:nth-child(1) {
        height: 435px;
        width: 300px;
        left: 10px;
    }

    main>section:nth-child(2)>article>aside {
        width: 396px;
        left: 331px;
        height: 650px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(3) {
        top: 153px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(4) {
        top: 246px;
    }

}

@media all and (max-width: 426px) {

    main>section:nth-child(2) {
        height: 1043px;
    }

    main>section:nth-child(2)>article {
        height: 823px;
    }

    main>section:nth-child(2)>article>aside {
        width: 390px;
        left: 10px;
        height: 797px;
    }
    main>section:nth-child(2)>article>img:nth-child(1) {
        height: 330px;
        width: 230px;
        top: 85px;
        left: 166px;
        z-index: 1;
    }
    main>section:nth-child(2)>article>aside>p:nth-child(1) {
        top: -9px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(2) {
        top: 42px;
        width: 148px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(3) {
        top: 216px;
        width: 148px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(4) {
        top: 464px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(1) {
        top: 535px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(2) {
        top: 568px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(3) {
        top: 603px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(4) {
        top: 639px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(5) {
        top: 676px;
    }
    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(6) {
        top: 713px;
    }

    main>section:nth-child(2)>article>aside {
        height: 797px;
    }

}


@media all and (max-width: 377px) {

    main>section:nth-child(2) {
        height: 1087px;
    }

    main>section:nth-child(2)>article {
        height: 879px;
        top: 156px;
    }

    main>section:nth-child(2)>article>aside {
        width: 339px;
        height: 849px;
    }
    main>section:nth-child(2)>article>img:nth-child(1) {
        height: 300px;
        width: 200px;
        top: 28px;
        left: 141px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(1) {
        top: 5px;
        width: 120px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(2) {
        top: 147px;
        width: 120px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(3) {
        top: 348px;
        width: 338px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(1) {
        top: 557px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(2) {
        top: 595px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(3) {
        top: 656px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(4) {
        top: 687px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(5) {
        top: 721px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(6) {
        top: 755px;
    }
    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(5) {
        width: 356px;
    }

}

@media all and (max-width: 320px) {

    main>section:nth-child(2)>h5:nth-child(2) {
        width: 285px;
        text-align: center;
    }

    main>section:nth-child(2)>article>aside {
        width: 286px;
        height: 967px;
    }

    main>section:nth-child(2)>article>img:nth-child(1) {
        height: 255px;
        width: 180px;
        top: 77px;
        left: 113px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(1) {
        width: 283px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(2) {
        top: 65px;
        width: 88px;
        z-index: 1;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(3) {
        top: 363px;
        width: 285px;
    }

    main>section:nth-child(2)>article>aside>p:nth-child(4) {
        top: 493px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(1) {
        top: 603px;
    }
    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(2) {
        top: 660px;
    }
    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(3) {
        top: 730px;
    }
    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(4) {
        top: 770px;
    }
    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(5) {
        top: 810px;
        width: 285px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(6) {
        top: 867px;
    }

    main>section:nth-child(2) {
        height: 1180px;
    }

}

