body>main{
    color: white;
    margin-top: 100px;
    background-color: rgba(30, 30, 30, 1);
    width: 100%;
}

main>section:first-child{
    height: 750px;
    position: relative;
    background-color: black;
}

main>section:first-child>aside>nav>ol>li{
    list-style: none;
}

main>section:first-child>aside{
    position: absolute;
    top: 240px;
}


main>section:first-child>aside>nav>ol>li>img{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    position: relative;
    top: 0px;
    left: 20px;
    margin-top: 9px;
    margin-bottom: 9px;
    transition: all 0.5s;

}

main>section:first-child>aside>nav>ol>li>img:hover{
    height: 50px;
    width: 50px;
    transition: all 0.5s;
}


main>section:first-child>article>p:nth-child(1){
    font-family: 'Jaldi', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 110px;
    left: 200px;
}

main>section:first-child>article>p:nth-child(2){
    font-family: 'Glory', sans-serif;
    font-size: 60px;
    position: absolute;
    top: 125px;
    left: 201px;
}

main>section:first-child>article>p:nth-child(3){
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 265px;
    left: 200px;
}

main>section:first-child>article>p:nth-child(4){
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 310px;
    left: 200px;
}

main>section:first-child>article>button:nth-child(5){
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border: 3px solid rgba(192, 64, 0, 1);
    border-radius: 10px;
    height: 36px;
    width: 130px;
    position: absolute;
    top: 390px;
    left: 230px;
    transition: all 0.5s;

}

main>section:first-child>article>button:nth-child(5):hover{
    height: 40px;
    width: 134px;
    font-weight: bold;
    font-size: 110%;
    background-color: white;
    transition: all 0.5s;
}

main>section:first-child>article>button:nth-child(5):hover>a{
    color:  rgba(192, 64, 0, 1);
}


main>section:first-child>article>button:nth-child(5)>a{
    color: white;
    text-decoration:none;
}

main>section:first-child>article>button:nth-child(6){
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border: 3px solid rgba(192, 64, 0, 1);
    border-radius: 10px;
    height: 36px;
    width: 165px;
    position: absolute;
    top: 390px;
    left: 390px;
    transition: all 0.5s;

}

main>section:first-child>article>button:nth-child(6):hover{
    height: 40px;
    width: 169px;
    font-weight: bold;
    font-size: 110%;
    background-color: white;
    transition: all 0.5s;
}

main>section:first-child>article>button:nth-child(6):hover>a{
    color:  rgba(192, 64, 0, 1);
}


main>section:first-child>article>button:nth-child(6)>a{
    color: white;
    text-decoration:none;
}

main>section:first-child>article>img:nth-child(7){
    height: 690px;
    width: 550px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 30px;
}

main>div:nth-child(10){
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: rgba(192, 64, 0, 1);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

main>div:nth-child(10)>a>i{
    font-size: 50px;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: max-content;
    width: max-content;
}


/*===========responsive=======================*/

@media all and (max-width: 1024px){
    main>section:first-child>article>img:nth-child(7){
        height: 670px;
        width: 530px;
        right: 20px;
    }
}

@media all and (max-width: 768px){

    main>section:first-child>article>p:nth-child(1){
        left: 160px;
    }

    main>section:first-child>article>p:nth-child(2){
        left: 161px;
    }

    main>section:first-child>article>p:nth-child(3){
        left: 160px;
    }

    main>section:first-child>article>p:nth-child(4){
        left: 160px;
    }

    main>section:first-child>article>img:nth-child(7){
        height: 650px;
        width: 510px;
        right: 10px;
    }

    main>section:first-child>article>button:nth-child(5){
        left: 190px;
    }

    main>section:first-child>article>button:nth-child(6) {
        left: 350px;
    }

}


