main>section:nth-child(2){
    position: relative;
    height: 900px;
}

main>section:nth-child(2)>h3:nth-child(1){
    font-family: 'Amarante', cursive;
    font-size: 45px;
    color: rgba(192, 64, 0, 1);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 45px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(2)>h5:nth-child(2){
    font-family: 'Arsenal', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #636363;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:nth-child(2)>article{
    height:600px;
    width: 92%;
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    margin: auto;
}

main>section:nth-child(2)>article>img:nth-child(1){
    height:495px;
    width: 360px;
    border: 1px solid white;
    position: absolute;
    top: 15px;
    left: 117px;
    display: inline-block;
}
main>section:nth-child(2)>article>aside{
    position: absolute;
    height: 560px;
    width: 775px;
    left: 535px;
    top: 15px;
}

main>section:nth-child(2)>article>aside>p{
    font-family: 'Arsenal', sans-serif;
    font-size: 21px;
    position: absolute;
    left: 0px;

}

main>section:nth-child(2)>article>aside>p:nth-child(1){
    font-size: 35px;
    font-weight: bolder;
    margin: 0;
    top: 10px;
}

main>section:nth-child(2)>article>aside>p:nth-child(2){
    top: 60px;
}

main>section:nth-child(2)>article>aside>p:nth-child(3){
    top: 140px;
}

main>section:nth-child(2)>article>aside>p:nth-child(3)>a{
    color: white;
}

main>section:nth-child(2)>article>aside>p:nth-child(3)>a:hover{
    color: rgba(192, 64, 0, 1);
}

main>section:nth-child(2)>article>aside>p:nth-child(4){
    top: 220px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li{
    font-family: 'Arsenal', sans-serif;
    font-size: 21px;
    list-style: none;
    padding-top: 15px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li>img{
    padding-right: 18px;
    height: 27px;
    width: 27px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(1){
    position: absolute;
    top: 325px;
    left: 0px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(2){
    position: absolute;
    top: 385px;
    left: 0px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(3){
    position: absolute;
    top: 445px;
    left: 0px;
}


main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(4){
    position: absolute;
    top: 325px;
    left: 440px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li>a{
    color: white;
    text-decoration: none;
    transition: all 0.5s;

}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li>a:hover{
    color: rgba(192, 64, 0, 1);
    font-size: 22px;
    transition: all 0.5s;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(5){
    position: absolute;
    top: 385px;
    left: 440px;
    width: 362px;
}

main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(6){
    position: absolute;
    top: 445px;
    left: 440px;
}

main>section:nth-child(2)>article>aside>button:nth-child(6){
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: black;
    border: 3px solid rgba(192, 64, 0, 1);
    border-radius: 8px;
    height: 36px;
    width: 130px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
    transition: all 0.5s;
}
main>section:nth-child(2)>article>aside>button:nth-child(6):hover{
    height: 40px;
    width: 134px;
    font-weight: bold;
    font-size: 110%;
    background-color: white;
    color:  rgba(192, 64, 0, 1);
    transition: all 0.5s;
}

/*===========transition=======================*/

@media all and (max-width: 1024px){

    main>section:nth-child(2)>article>img:nth-child(1){
        left: 80px;
     }
    main>section:nth-child(2)>article>aside{
        width: 635px;
        left: 500px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li{
        font-size: 20px;
        list-style: none;
        padding-top: 15px;
        width: 330px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(1){
        text-align: left;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(2){
        left: -39px;
        text-align: right;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(3){
        text-align: left;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(4){
        left: 330px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li>a:hover{
        font-size: 21px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(5){
        left: 330px;
        width: 347px;
    }

    main>section:nth-child(2)>article>aside>ol:nth-child(5)>li:nth-child(6){
        left: 330px;
    }

}

/*===========responsive=======================*/

@media all and (max-width: 768px){
    main>section:nth-child(2)>article>img:nth-child(1){
        left: 50px;
    }
    main>section:nth-child(2)>article>aside{
        left: 470px;
    }
}





