body>main{
    color: white;
    margin-top: 100px;
    background-color: rgba(30, 30, 30, 1);
    width: 100%;
}

main>section:first-child{
    height: 1200px;
    position: relative;
}

main>section:first-child>p:nth-child(1){
    font-family: 'Arsenal', sans-serif;
    font-weight: bolder;
    font-size: 23px;
    position: relative;
    margin-left:9%!important;
    top: 60px;
    margin: 0;
}

main>section:first-child>section{
    height: 100px;
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

main>section:first-child>section:nth-child(2){
    height: 340px;
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    margin:auto;
}

main>section:first-child>section:nth-child(3){
    height: 260px;
    position: absolute;
    top: 500px;
    right: 0;
    left: 0;
    margin:auto;
}

main>section:first-child>section:nth-child(4){
    height: 260px;
    position: absolute;
    top: 850px;
    right: 0;
    left: 0;
    margin:auto;
}

main>section:first-child>section:nth-child(2)>div>figure>figcaption{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:first-child>section:nth-child(2)>div:nth-child(1)>figure>img{
    height: 292px;
    width: 227px;
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}

main>section:first-child>section:nth-child(2)>div:nth-child(2)>figure>img{
    height: 234px;
    width: 416px;
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}

main>section:first-child>section:nth-child(2)>div:nth-child(3)>figure>img{
    height: 234px;
    width: 416px;
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}



main>section:first-child>section:nth-child(3)>div>figure>figcaption{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:first-child>section:nth-child(3)>div:nth-child(1)>figure>img{
    height: 221px;
    width: 242px;
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}

main>section:first-child>section:nth-child(3)>div:nth-child(2)>figure>img{
    height: 223px;
    width: 523px;
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}

main>section:first-child>section:nth-child(3)>div:nth-child(3)>figure>img{
    height: 216px;
    width: 259px;
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}

main>section:first-child>section:nth-child(4)>div>figure>figcaption{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    height: max-content;
    width: max-content;
}

main>section:first-child>section:nth-child(4)>div:nth-child(1)>figure>img{
    height: 235px;
    width: 458px;
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}


