body>main{
    color: white;
    margin-top: 100px;
    background-color: rgba(30, 30, 30, 1);
    width: 100%;
}

main>section:first-child{
    height: 1200px;
    position: relative;
}

main>section:first-child>p:nth-child(1){
    font-family: 'Arsenal', sans-serif;
    font-weight: bolder;
    font-size: 23px;
    position: relative;
    margin-left:9%!important;
    top: 60px;
    margin: 0;
}

main>section:first-child>section{
    height: 100px;
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    position: absolute;
    right: 0;
    left: 0;
    margin:auto;
}

main>section:first-child>section:nth-child(2){
    height: 340px;
    top: 120px;
}

main>section:first-child>section:nth-child(3){
    height: 260px;
    top: 500px;

}

main>section:first-child>section:nth-child(4){
    height: 260px;
    top: 850px;
}

main>section:first-child>section>div>figure>figcaption{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    height: max-content;
    width: 100%;
    text-align: center;
    transition: all 1s;
}

main>section:first-child>section>div>figure>img:hover+figcaption{
    font-size: 15px;
    transition: all 1s;
}

main>section:first-child>section>div>figure{
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}

main>section:first-child>section>div>figure>img{
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}

main>section:first-child>section:nth-child(2)>div:nth-child(1){
    height: 100%;
    width: 227px;
}

main>section:first-child>section:nth-child(2)>div:nth-child(1)>figure>img{
    height: 292px;
    width: 227px;
}

main>section:first-child>section:nth-child(2)>div:nth-child(2){
    height: 100%;
    width: 416px;
}

main>section:first-child>section:nth-child(2)>div:nth-child(2)>figure>img{
    height: 234px;
    width: 416px;
}

main>section:first-child>section:nth-child(2)>div:nth-child(3){
    height: 100%;
    width: 416px;
}

main>section:first-child>section:nth-child(2)>div:nth-child(3)>figure>img{
    height: 234px;
    width: 416px;
}

main>section:first-child>section:nth-child(3)>div:nth-child(1){
    height: 100%;
    width: 242px;
}

main>section:first-child>section:nth-child(3)>div:nth-child(1)>figure>img{
    height: 221px;
    width: 242px;
}

main>section:first-child>section:nth-child(3)>div:nth-child(2){
    height: 100%;
    width: 523px;
}

main>section:first-child>section:nth-child(3)>div:nth-child(2)>figure>img{
    height: 223px;
    width: 523px;
}

main>section:first-child>section:nth-child(3)>div:nth-child(3){
    height: 100%;
    width: 259px;
}

main>section:first-child>section:nth-child(3)>div:nth-child(3)>figure>img{
    height: 216px;
    width: 259px;
}

main>section:first-child>section:nth-child(4)>div:nth-child(1){
    height: 100%;
    width: 458px;
}

main>section:first-child>section:nth-child(4)>div:nth-child(1)>figure>img{
    height: 235px;
    width: 458px;
}

/*===========transition=======================*/

@media all and (max-width: 1024px){
    main>section:first-child>section:nth-child(2)>div:nth-child(1){
        height: 100%;
        width: 179px;
    }

    main>section:first-child>section:nth-child(2)>div:nth-child(1)>figure>img{
        height: 244px;
        width: 179px;
    }

    main>section:first-child>section:nth-child(2)>div:nth-child(2){
        height: 100%;
        width: 368px;
    }

    main>section:first-child>section:nth-child(2)>div:nth-child(2)>figure>img{
        height: 186px;
        width: 368px;
    }

    main>section:first-child>section:nth-child(2)>div:nth-child(3){
        height: 100%;
        width: 368px;
    }

    main>section:first-child>section:nth-child(2)>div:nth-child(3)>figure>img{
        height: 186px;
        width: 368px;
    }

    main>section:first-child>section:nth-child(3)>div:nth-child(1){
        height: 100%;
        width: 194px;
    }

    main>section:first-child>section:nth-child(3)>div:nth-child(1)>figure>img{
        height: 173px;
        width: 194px;
    }

    main>section:first-child>section:nth-child(3)>div:nth-child(2){
        height: 100%;
        width: 475px;
    }

    main>section:first-child>section:nth-child(3)>div:nth-child(2)>figure>img{
        height: 175px;
        width: 475px;
    }

    main>section:first-child>section:nth-child(3)>div:nth-child(3){
        height: 100%;
        width: 211px;
    }

    main>section:first-child>section:nth-child(3)>div:nth-child(3)>figure>img{
        height: 168px;
        width: 211px;
    }

    main>section:first-child>section:nth-child(4)>div:nth-child(1){
        height: 100%;
        width: 410px;
    }

    main>section:first-child>section:nth-child(4)>div:nth-child(1)>figure>img{
        height: 187px;
        width: 410px;
    }

    main>section:first-child>section>div>figure>figcaption{
        font-size: 13px;
    }

    main>section:first-child>section>div>figure>img:hover+figcaption{
        font-size: 16px;
    }
}

@media all and (max-width: 768px){
    main>section:first-child>section>div>figure>figcaption{
        font-size: 14px;
    }

    main>section:first-child>section>div>figure>img:hover+figcaption{
        font-size: 17px;
    }
}



